body {
  background-color: black;
}

.App {
  margin: 30px 0 0 30px;
}

.App img {
  width: 200px;
  /* margin-bottom: 60px; */
}

.Title {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

.FilmsList {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 40px;
}

.FilmsList::-webkit-scrollbar {
  height: 20px; /* width of the entire scrollbar */
}

.FilmsList::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

.FilmsList::-webkit-scrollbar-thumb {
  background-color: #666666; /* color of the scroll thumb */
  /*border-radius: 20px;  roundness of the scroll thumb */
  /*border: 3px solid #333333;  creates padding around scroll thumb */
}

.Film img {
  width: 400px;
}
